<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ODUIThreadGuard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A20D350A1E0CFD9E00E6F975</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A20D351E1E0CFD9F00E6F975</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A20D35291E0CFD9F00E6F975</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
